<!-- As a link -->
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">Choferes</a>
</nav>

<div class="row pad-10">

    <div class="col-8">
        <h3>Mapa</h3>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <div class="col-4">
        <h3>Choferes</h3>
        <div class="list-group">

            <a href="#" *ngFor="let item of items | async" class="list-group-item list-group-item-action">{{item.nombre}}</a>

        </div>
    </div>
</div>